.cart__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}
.cart__item {
  /* padding: 0;
  margin: 0; */
}
.cart__title {
  width: 120px;
}
.cart__img {
  /* padding-left: 30px;
  padding-top: 30px; */
}
