.App {
  text-align: center;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://priroda.club/uploads/posts/2022-02/1643850443_46-priroda-club-p-kafe-u-morya-priroda-krasivo-foto-49.jpg");
  background-size: cover;
}

.header-list {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
}

.menu-text {
  font-size: 80px;
  font-weight: 300;
}

.oplata {
  display: flex;
  align-items: center;
  padding-top: 118px;
}

.hr-header {
  margin-top: -66px;
  padding-top: 0px;
  width: 1129px;
}

.p-text {
  text-align: center;
  font-size: 70px;
  font-weight: 200;
}
